@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$root-color: #e48020;
// $theme-colors: (
//   "primary": $root-color,
//   "orange": $root-color,
// );

@import "node_modules/bootstrap/scss/bootstrap";

body,
html {
  //   font-size: 12px;
  color: #212121;
  font-weight: 500;
}

.modal-header {
  padding: 0.5rem 1rem;
  background-color: #212121;
  .modal-title {
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
  }
}

.form-label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

* {
  box-sizing: border-box !important;
  font-family: "Roboto", sans-serif, "Microsoft JhengHei", "Helvetica", Arial !important;
}

a {
  cursor: pointer;
}

ol,
ul {
  padding-left: 0;
}

.loading {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease all;
  background: url("../static/loading.svg") rgba(31, 31, 31, 0.75) center/64px
    no-repeat;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.login-container {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;

  .form-wrap {
    .logo {
      width: 160px;
      display: block;
      margin: 0 auto 12px auto;
    }
    .form {
      background-color: white;
      padding: 6% 7%;
      width: 600px;
    }
  }
}

.spacer {
  display: flex;
  align-items: center;
  [align="center"] {
    align-items: center;
  }
  [align="end"] {
    align-items: flex-end;
  }
  [align="start"] {
    align-items: flex-start;
  }
  > * {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}

$sidebar-width: 260px;

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  .sider {
    height: 100%;
    flex: 0 $sidebar-width;
    width: $sidebar-width;
    background-color: #212121;
  }
  .container {
    width: 100%;
    max-width: 100%;
    padding: 64px 12px 12px 12px;
    height: 100%;
    padding-top: 64px;
    position: relative;
    background-color: #eeeeee;
  }
  .main {
    flex: 0 1 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .header {
    background-color: #212121;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .btn {
      color: white;
    }
  }
}

.sidebar {
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .logo {
    width: 60%;
    display: block;
    margin: 12px auto 24px auto;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    > .nav {
      width: 100%;
      > .nav-item {
        margin-bottom: 12px;
      }
      .nav-item {
        color: white;
        display: block;
        width: 100%;

        [data-icon] {
          margin-right: 1rem;
          font-size: 1rem;
        }
        .nav-link {
          color: white;
          border-radius: 0;
          position: relative;
          font-size: 1.15rem;

          &:hover,
          &.active {
            background-color: $root-color;
          }
          .caret {
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translate(0, -50%);
            > [data-icon] {
              transition: 0.3s ease all;
            }
            &.active {
              > [data-icon] {
                transform: rotate(-90deg);
              }
            }
          }
        }
        > .nav {
          > .nav-item {
            > .nav-link {
              padding-left: 3.2rem;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background: none;
}

.invalid-feedback {
  font-size: 8px;
  margin: 0;
}

.btn-clear {
  padding: 0 12px;
  margin: 0;
  // line-height: 1;
  color: #212121;
  font-size: 1.5rem;
  padding: 0 6px;
}

.rdg {
  .rdg-header-row {
    background-color: #212121;
    color: white;

    .sort-button {
      background-color: transparent;
      border: 0;
      outline: 0;
      color: white;
      width: 48px;
      padding: 0;
      &.active {
        color: $root-color;
      }
    }
  }
}

.pagination-container {
  margin-top: 12px;
  display: block;
  white-space: nowrap;

  text-align: right;
  p,
  .form-select,
  .pagination-wrap {
    display: inline-block;
    vertical-align: middle;
  }
  p {
    margin: 0;
    margin: 0 12px;
    font-size: 0.85rem;
    font-size: 8px;
    font-weight: bolder;
  }
  .form-select {
    width: 80px;
  }
  .pagination {
    margin: 0;
  }
}

.btn {
  [data-icon] {
    margin: 0 6px;
  }
}

.table-control {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

.select-column {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  > div {
    display: inline-block;
    line-height: 1;
    .form-check-input {
      margin: 0;
    }
  }
}

.form-check-input[type="checkbox"] {
  width: 1.25em;
  height: 1.25em;
  border-radius: 0px;
}

.table-tabs {
  border: none;

  position: relative;
  z-index: 1;
  .nav-item {
    .nav-link {
      color: #212121;
      isolation: none;
      background-color: #f1f1f1;
      // opacity: 0.8;

      &.active {
        color: $root-color;
        border: 1px solid #ddd;
        border-bottom: 1px solid transparent;
        font-weight: bolder;
        background-color: white;
        margin-bottom: -1px;
        // opacity: 1;
      }
    }
  }
}

.table-tabs-content {
  position: relative;
  z-index: 2;
  padding: 24px 18px;
  border: 1px solid #ddd;
  height: 100%;
  background-color: white;
}

.status {
  margin-right: 24px;
  &:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #212121;
    margin-left: 12px;
  }
  &.status-gray:after {
    background-color: #5e5e5e;
  }
  &.status-green:after {
    background-color: green;
  }
  &.status-red:after {
    background-color: red;
  }
}

.upload-zoom {
  border: 2px dashed #ddd;
  padding: 6% 0;
  transition: 0.3s ease all;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  &.active {
    border: 2px dashed $root-color;
  }
}
.upload-type-btn {
  border: 1px solid #ddd;
  padding: 18px;
  width: 100%;
  outline: none;
  transition: 0.3s ease all;
  [data-icon] {
    font-size: 3rem;
    display: block;
    margin: 0 auto;
  }
  span {
    text-align: center;
    display: block;
    margin-top: 6px;
  }

  &:hover {
    color: $root-color;
    border: 1px solid $root-color;
  }
}

.devider {
  margin: 24px 0;
  text-align: center;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    height: 0.5px;
    background-color: #ddd;
    transform: translate(0, -50%);
    z-index: 1;
  }
  span {
    background-color: white;
    position: relative;
    z-index: 2;
    padding: 0 12px;
    text-align: center;
    // display: block;
  }
}
